@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@theme {
    --font-geom: "Geom";
    --font-bbh: "BBH Bartle";
    --font-josefin: "Josefin Sans";
}

@import "tailwindcss";